body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

canvas {
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#attackButton {
    position: absolute;
    top: 620px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
